python-dotenv
langchain
langchain[openai]
langchain-community
langchain-text-splitters
langchain-pinecone
trustcall
llama-parse
llama-index
streamlit
pinecone
pinecone-text
lark
streamlit-extras
jq
fastapi
uvicorn
python-multipart
pytest
pytest-asyncio
unstructured[md]