# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env
.venv/
ENV/

# Documentation / data
uploads/
bm25_indexes/
uploaded_files/
parsed_files/
edited_files/
summarized_files/
*.pdf
*.md

# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile

# Logs
logs/
*.log 